<app-header></app-header>

<div class="content">
  <div class="opacity">
    <p class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt vestibulum ultrices. Mauris odio nulla,
      elementum at gravida eu, lacinia eget orci. Aenean aliquam nulla ullamcorper, cursus sem quis, cursus libero.
      Vestibulum sed sagittis mi, ut bibendum lacus. Curabitur in nisi quis risus semper faucibus quis ut justo. Proin
      et metus mauris. In mollis lectus sit amet erat convallis tristique. Nulla a pellentesque nisl. Donec ornare at ex
      in malesuada. Sed eget lorem dolor. Sed cursus placerat diam. Fusce malesuada vel dolor id tincidunt. Donec mollis
      arcu aliquet felis dignissim commodo. Nulla mollis egestas tristique. Maecenas et condimentum leo.</p>

      <p class="txt">Pulvinar, nulla non mattis venenatis, nunc lectus volutpat ligula, in vestibulum nunc erat ac erat.
      Vestibulum molestie est lectus, ut volutpat sapien convallis vel. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Donec semper ligula vel est vulputate volutpat. Vivamus luctus lacinia
      tempus. Aenean facilisis tristique nisl vulputate dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. In hac habitasse platea dictumst. Ut sit amet laoreet purus.</p>
  </div>
</div>

<app-footer></app-footer>
