.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: white;
}

input:active, input:focus {
  outline-color: white;
}

input::placeholder {
  color: white;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: #ffc107;
  background-color: #ffc107;
  color: white;
  font-weight: bold;
  align-self: center;
}

@media (max-width: 1199px) {
  input {
    width: 100%;
    background-color: black;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    border-radius: 0;
    color: white;
  }
  label {
      color: black;
  }
  img {
      width: 50%;
  }
  form {
      gap: 5px;
  }
  button {
      width: 100%;
      background-color: black;
  }
}
