<app-header></app-header>
<div class="content">
  <!--titulo da página-->
  <div class="page-title">Clientes</div>
  <!--div para buscar e adicionar clientes-->
  <div class="container-search-button">
    <div class="search-box">
      <input
        type="search"
        placeholder="Buscar cliente..."
        id="search"
        aria-label="Username"
        aria-describedby="basic-addon1"
        (change)="search($event)"
      />
      <button type="submit" id="icon-search">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="addCliente()"
      >
        <i class="bi bi-person-plus-fill"></i> Adicionar cliente
      </button>
    </div>
  </div>
  <!--tabela-->
  <div>
    <table class="table table-secondary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Email</th>
          <th scope="col">Contato</th>
          <th scope="col">Endereço</th>
          <th scope="col">Modalidade</th>
          <th scope="col">Plano</th>
          <th scope="col">Valor</th>
          <th scope="col">Turno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Clients">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.nome }}</td>
          <td>{{ item.idade }} anos</td>
          <td>{{ item.email }}</td>
          <td>{{ item.contato.celular }}</td>
          <td>
            {{
              item.endereco.logradouro +
                ", " +
                item.endereco.bairro +
                ", " +
                item.endereco.cidade +
                "/" +
                item.endereco.estado +
                " - " +
                item.endereco.cep
            }}
          </td>
          <td>{{ item.modalidade }}</td>
          <td>{{ item.plano.nome }}</td>
          <td>{{ item.plano.valor }}</td>
          <td>{{ item.turno }}</td>
          <td>
            <div class="button-view-delte">
              <button class="botao-alterar">
                <i
                  class="bi bi-pencil-square"
                  data-bs-toggle="modal"
                  data-bs-target="#viewCliente"
                  (click)="viewCliente(item)"
                ></i>
              </button>
              <button class="botao-deletar">
                <i
                  class="bi bi-trash3"
                  data-bs-toggle="modal"
                  data-bs-target="#deletaCliente"
                  (click)="clienteSelecionado(item.id)"
                ></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--modal de confirmação para deletar-->
  <div class="modal fade" id="deletaCliente" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: red" class="modal-title">Atenção!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Você tem certeza disso?</p>
        </div>
        <div class="modal-footer">
          <input type="hidden" [(ngModel)]="selecionado" id="selecionado" />
          <button
            type="button"
            class="btn btn-danger"
            (click)="goDelete(selecionado)"
            data-bs-dismiss="modal"
          >
            Excluir
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Não
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--modal para visualizar clinte-->
  <div class="modal" id="viewCliente" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ffc107">
          <h5 class="modal-title">{{ nome }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p><b>Idade:</b> {{ idade + " anos" }}</p>
          <p><b>Email:</b> {{ email }}</p>
          <p>
            <b>Endereço:</b>
            {{
              logradouro +
                ", " +
                bairro +
                ", " +
                cidade +
                "/" +
                estado +
                " - " +
                cep
            }}
          </p>
          <p><b>Modalidade:</b> {{ modalidade }}</p>
          <p><b>Plano:</b> {{ plano }}</p>
          <p><b>Turno:</b> {{ turno }}</p>
          <p><b>Valor:</b> {{ "R$" + valor }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editaCliente"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--modal para alterar cliente-->
  <div class="modal" id="editaCliente" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ffc107">
          <h5 class="modal-title">{{ nome }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input
            type="hidden"
            class="form-control"
            id="formGroupExampleInput"
            [(ngModel)]="id"
            name="id"
          />
          <div class="mb-3 col-sm-7">
            <label for="formGroupExampleInput" class="form-label">Nome:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Digite um nome"
              [(ngModel)]="nome"
              name="nome"
            />
          </div>
          <div class="mb-3 col-sm-7">
            <label for="formGroupExampleInput" class="form-label">Idade:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Digite um nome"
              [(ngModel)]="idade"
              name="nome"
            />
          </div>
          <div class="mb-3 col-sm-4">
            <label for="formGroupExampleInput" class="form-label"
              >Contato:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Telefone celular"
              [(ngModel)]="celular"
              name="contato"
            />
          </div>
          <div class="mb-3 col-sm-8">
            <label for="formGroupExampleInput" class="form-label">Email:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="exemplo@gmail.com"
              [(ngModel)]="email"
              name="email"
            />
          </div>
          <div class="mb-3 col-sm-4">
            <label for="formGroupExampleInput" class="form-label">Cep:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Número do cep"
              [(ngModel)]="cep"
              name="cep"
            />
          </div>
          <div class="mb-3 col-sm-8">
            <label for="formGroupExampleInput" class="form-label">Rua:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Nome da rua"
              [(ngModel)]="logradouro"
              name="logradouro"
            />
          </div>
          <div class="mb-3 col-sm-8">
            <label for="formGroupExampleInput" class="form-label">Bairo:</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Nome do bairro"
              [(ngModel)]="bairro"
              name="bairro"
            />
          </div>
          <div class="mb-3 col-sm-8">
            <label for="formGroupExampleInput" class="form-label"
              >Cidade:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Nome da cidade"
              [(ngModel)]="cidade"
              name="cidade"
            />
          </div>
          <div class="mb-3 col-sm-8">
            <label for="formGroupExampleInput" class="form-label"
              >Estado:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Nome do estado"
              [(ngModel)]="estado"
              name="estado"
            />
          </div>

          <div class="col-sm-3">
            <label for="inputState" class="form-label"></label>
            <select
              id="inputState"
              class="form-select"
              [(ngModel)]="modalidade"
            >
              <option *ngFor="let item of modalidades" value="{{ item.nome }}">
                {{ item.nome | uppercase }}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label for="inputState" class="form-label"></label>
            <select
              id="inputState"
              class="form-select"
              [(ngModel)]="plano"
              (blur)="getValorPlano(plano)"
            >
              <option *ngFor="let item of planos" value="{{ item.nome }}">
                {{ item.nome }}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label for="inputState" class="form-label"></label>
            <select id="inputState" class="form-select" [(ngModel)]="turno">
              <option *ngFor="let item of turnos" value="{{ item.nome }}">
                {{ item.nome }}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label for="inputState" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              placeholder="Valor Plano"
              aria-label="Estado"
              [(ngModel)]="valorPlano"
              name="valorPlano"
              disabled
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="goAltera()"
            data-bs-dismiss="modal"
          >
            Alterar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
