.content {
  background-image: url(../../../../assets/img/bg-gym.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.page-title {
  font-size: 26px;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: #ffc107;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container-search-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

#search {
  width: 90%;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid gray;
  border-right: none;
  font-size: 16px;
  padding-left: 10px;
}

.search-box {
  width: 30%;
}

::placeholder {
  padding: 10px;
  font-size: 16px;
}

#icon-search {
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid gray;
  border-left: none;
  background-color: white;
  padding: 5px 10px;
}

.table {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  margin: 30px auto;
}

.button-view-delte {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.botao-alterar {
  border: transparent;
  background: inherit;
  color: blue;
}

.botao-deletar {
  border: transparent;
  background: inherit;
  color: red;
}








